# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons
build/Release

# Node Dependency directory
node_modules

# Python and Java build directories
venv
target

# Environmental files
.env
.env.*
.env-example

# OS Files
.DS_Store

# IDE Folders and Files
.idea
*.iml
.vscode/

# Structurizr
docs/.structurizr
docs/structurizr
docs/*.dsl
docs/workspace.json

# Terraform build files
**/.terraform/*
*.tfstate
*.tfstate.*
terraform.rc
*.tfplan

# Compiled files
*.pyc
*.pyo
*.pyd
*.class

# Miscellaneous
.env
.env.*
*.tfplan